@import "variables.scss";
.app-background {
  background-color: $main-background-color;
  min-height: 100vh;
}
.brand-logo {
  margin-left: 10px;
}
.container {
  margin-top: 50px;
}
select {
  display: block;
}
.error-class {
  width: 300px;
  padding: 5px 10px 10px 5px;
  background-color: #e99e9ec7;
  border: 3px solid #fa0606;
  border-radius: 5px;
}
.character-counter {
  display: none;
}

.submit-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: $primary-button;
}
.my-nav {
  background-color: $primary-color;
}
.btn-flat {
  &:focus {
    background-color: $primary-button;
  }
}
